*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:black;
}

.box{
    height: 133vh;
    background-image: url('central-park.gif');
    background-size: cover;
 
}

.row {  
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4em;
    justify-content: baseline;
  }
.filter{
    height: 100%;
    width: 100%;

}
.cat{
    flex: 30%;
    padding: 20px;
    background-color: rgb(217, 219, 255);

  }
  
  .cat{
    border: 1px solid #ddd;
    margin: 5px;
}

.cat p{
    word-wrap: break-word;
    text-align: center;
  }
.cat img{
    width:100%;
    border-radius:5px;
    margin:10px 0px;
  }
  .company{

  margin: 1px; 
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.2);
  flex: 1;
  align-items: center;
  margin-top: 4em;
  
  }
  .company img{
      height: 200px;
    /* margin: 250px; */
      
  }
 .contact1{
    padding: 50px;
    background-color: rgb(217, 219, 255);
    flex: 1;
    order: 2;
 }
 .contact2{
    padding: 50px;
    background-color: rgb(217, 219, 255);
    flex: 1;
    order: 3;

 }
 .contact3{
    padding: 50px;
    background-color: rgb(217, 219, 255);
    flex: 1;
    order: 4;
 }
 .contact4{
    padding: 50px;
    background-color: rgb(217, 219, 255);
    flex: 1;
    order: 1;
 }

/* 
 
  /* Main column */
  .menu {
    flex: 70%;
    padding: 0 20px;
    background-color: #fff;
  }

.navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
.logo{
    margin: 7px;
    padding: 7px;
    text-transform: uppercase;
    /* text-shadow: 2px 5px 8px red; */
    cursor: pointer;
    
}
.logo:hover{
    transition: all 2s ease-in-out;
    transform: matrix(1.3,0,0,1.3,0,0)
}
.menu{
    display: flex;
    justify-content: space-around;
}
.cat img{
    height: 300px;
}
.navbar ul{
    display: flex;
    margin-top: 20px;
    margin-right: -106px;
    
}
.navbar ul li{
    list-style: none;
    padding-right: 29px;
    
    
}
.navbar ul li a{
    text-decoration: none;
    padding: 5px; 
    font-size: 1em;
    transition: all 1.5s;
    font-weight: 600;
    /* text-shadow: 2px 5px 8px red; */
}
.navbar ul li:nth-child(6) a{
    border: 1px solid brown;
    padding: 5px 20px;
    border-radius: 3px;
    background-color: #ddd;
}
.navbar ul li:nth-child(6) a:hover{
    background:#fff;
}
.navbar ul li a:hover{
    border-bottom: 5px solid rgba(150, 8, 143, 0.959);
}
.content {
    text-align: center;
    margin-top: 15%;
    margin-right: 40%;
    word-wrap: break-word;

}

.content h2{
    font-weight: 900;
    margin-top: 10px 0 0 20px;
    font-size: 1.5em;
    color: white;
    
}
.content p{
    margin: auto;
    font-size: 1.5em;
    word-wrap: break-word;
    width: 45%;
    font-weight: 700;
    color:white;
}

img{
    width: auto;
    height: auto;
}
.icon-check img{
    position: absolute;
    top: 15px;
    right:  0;
    margin:26px 40px;
    cursor: pointer;
    
}
.icon-check, #check{
    display: none;
}
.icon-check img{
    width: 35px;
    height: 50px;
    box-shadow: 4px 4px gray;

}
#downloadicon{
    margin-left: 200px;


}
    #cat{
       text-align: center;
       font-size: 2em;
       margin: 15px;
   }
  
   #cat{
       text-align: center;
       font-size: 2em;
       margin: 15px;
       margin-top: 2.3em;
   }
   #cat p {
       word-wrap: break-word;
   }
  
  .icon{
      width: 180px;
  }
  
/* .btn{
    border: 1px solid#ccc;
    margin: 20px;
    padding: 5px;
    background:whitesmoke;
    font-weight: 700;
    font-size: 1em;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    text-shadow: 1px 2px 3px red;


} */
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
    padding-bottom: 5em;


  }
  
  .price1 {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: white;

  }
  
  .price1:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price1 .header {
    background-color: #4ca6af;
    color: white;
    font-size: 25px;
  }

  .price1 .header:nth-child(1) {
    background-color: #4d84ce;
    color: white;
    font-size: 25px;
  }

  .price1 .header:nth-child(3) {
    background-color: #4d84ce;
    color: white;
    font-size: 25px;
  }
  
  .price1 li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  .price1 .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  
@media only screen and (max-width:1024px){
    .icon-check{
        display: block;
    }
    .logo{
        position: absolute;
        right: 0;
        top: 0;
    }
    /* .menu{
        margin-top: 28px;
        z-index: 10;
    } */
    .navbar ul{
        background:gray ;
        display: block;
        position: absolute;
        left: 0;
        width:270px;
        line-height: 60px;
        margin-left: -400px;
        transition: all 1s;
        border-radius: 5px;
    }
  
    .navbar ul li a{
        padding: 17px 57px;
        width: 100%;
        border-bottom: 1px solid rgba(250,42,143);
    }
    .navbar ul li:nth-child(6) a{
        border: 1px solid #fff;
        padding: 5px 20px;
        border-radius: 3px;
        margin: 0px 50px;
    
    }
   #check:checked ~ .navbar ul{
      margin-left: 0px;

   }
   
   .content:hover{
       transform: none;
   }
   .logo:hover{
    transform: none;
}
.content p{ width: 100%;
    font-size: 1.3em;
}

.box{
    height: 70vh;
background-image: url('central-park.gif');
background-size: cover;
  }
}

@media screen and (max-width: 700px) {
    .row{   
      flex-direction: column;
    }
    .columns {
        width: 100%;
        padding-top: 0;
      }

  }

  @media screen and (max-width: 500px){

  .icon {
    width: 100px;
}
#downloadicon {
    margin-left: 18px;
    display: inline-block;
}

  }